.cart{
    display: flex;
    flex-wrap: wrap;
    gap:1em;
}

.empty-cart{
    margin: 2em 0;
}

.checkout,
.cart-products-container{
    background-color: #fff;
    border-radius: 5px;
    padding: 2em 3em;
    box-shadow: 4px 4px 25px -2px rgb(0 0 0 / 30%);
    flex: 1 1 65%;  
}

.cart-products-list {
    margin-top: 1em;
}

.checkout h1{
    margin-bottom: 2em;
}