.wishlist-icon{
    position: relative;
    cursor: pointer;    
}

.wishlist-icon svg{
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
}

.wishlist-items-count{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.5em;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: translate(-50%, -50%);
    color:#000;
    font-size: 0.8em;
}