.product-item{
    width: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 25px -2px rgb(0 0 0 / 30%);
}

.product-body {
	position: relative;
	height: 200px;
	max-height: 200px;	
	overflow: hidden;
}

.product-body .product-image-container {
    transition: all 0.5s;
}

.product-image-container img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
}

.product-item:hover .product-image-container img {
	transform: scale(1.2, 1.2) rotate(5deg);	
}

.product-body .discount{
	position: absolute;
	top: 15px;
	right: 20px;
	color: #ffffff;
	background-color: #fe302f;
	padding: 2px 8px;
	text-transform: uppercase;
	font-size: 0.85em;
}

.product-body .status {
	position: absolute;
	top: 15px;
	left: 0px;
	color: #ffffff;	
	padding: 2px 8px;
	text-transform: uppercase;
	font-size: 0.85em;
	left: 0;
	background-color: #444444;
}

.product-body ul {
	position: absolute;
	display: flex;	
	gap: 4px;
	bottom: -61px;
	left: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
	opacity: 0;
	transition: bottom 0.5s, opacity 0.5s;
}

.product-item:hover .product-body ul {
	bottom: 10px;
	opacity: 1;
}

.product-body ul li {
	display: flex;	
	background-color: #fff;
	color: #444444;	
	box-shadow: 4px 4px 25px -2px rgb(0 0 0 / 30%);
	transition: color 0.2s;	
	gap: 2px;
	border-radius: 3px;
	align-items: center;	
	cursor: pointer;
}

.action-icon{
	width: 20px;
	height: 20px;
}

.product-body .product-action,
.product-body ul li a{
	display: flex;
	align-items: center;
	padding: 0.5em;
}

.product-body ul li:hover .product-action,
.product-body ul li:hover {
	background-color: #8b9dc3;	
	color: #fff;
}

.product-footer{
	padding: 1em 0.5em;
	min-height: 4em;
}

.product-footer .product-title {
	font-size: 0.9em;
	margin-bottom: 0.5em;
	color: gray;
	font-weight: bold;
}

.product-footer .product-price {
	display: inline-block;
	font-size: 1.2em;
	color: #da2127;
	font-weight: bold;
}

.product-footer .product-old-price {
	position: relative;
	padding: 0 7px;
	margin-right: 2px;
	opacity: 0.6;	
}

.product-footer .product-old-price::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #444444;
	transform: translateY(-50%);
}

@media (pointer: coarse) {
    .product-body ul {
		bottom: 10px;
		opacity: 1;
	}
}