.site-wrapper {
  text-align: center;  
  display: flex;
  min-height: 100vh;
  flex-direction: column;  
  background-color: #F6F6F6;
}

.site-content{
  flex: 1;
  padding: 2em 1em;
  position: relative;
}